<!DOCTYPE HTML>
<html ng-app="bwsc">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scoreboard.js"></script>
</head>
    <body>
        <div ng-controller="Scoreboard" style="color:white;font-size:500%;">
            <div ng-if="scoreboard.swimmers.length == 0">
                <p style="background-color:blue;" align="center">{{scoreboard.clock}}</p>
            </div>
            <div ng-if="scoreboard.swimmers.length != 0 && !scoreboard.result">
                <table style="background-color:blue;">
                    <tr>
                        <td colspan="4">{{scoreboard.title+"&nbsp;&nbsp;&nbsp;"+scoreboard.subTitle}}</td>
                        <td>{{scoreboard.clock}}</td>
                    </tr>
                    <tr/>
                    <tr ng-repeat="swimmer in scoreboard.swimmers">
                        <td width="10%">{{swimmer.lane }}</td>
                        <td width="35%">{{swimmer.name}}</td>
                        <td width="20%">{{swimmer.club}}</td>
                        <td width="25%">{{swimmer.time}}</td>
                        <td width="10%">{{swimmer.place}}</td>
                    </tr>
                </table>
            </div>
            <div ng-if="scoreboard.swimmers.length != 0 && scoreboard.result">
                <table style="background-color:green;">
                    <tr>
                        <td colspan="4">{{scoreboard.title+"&nbsp;&nbsp;&nbsp;"+scoreboard.subTitle}}</td>
                        <td>{{scoreboard.clock}}</td>
                    </tr>
                    <tr/>
                    <tr ng-repeat="swimmer in scoreboard.swimmers">
                        <td width="10%">{{swimmer.place}}</td>
                        <td width="35%">{{swimmer.name}}</td>
                        <td width="20%">{{swimmer.club}}</td>
                        <td width="25%">{{swimmer.time}}</td>
                        <td width="10%">{{swimmer.lane }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>